extends layout.pug

block content
        h1.form List of all students


        each studentdb in studentdbs
            div.list-wrapper
                a.task(href=`/list/${ studentdb.Uid}`) #{studentdb.id}
                    div.operations 
                        a.delete(href=`/${ studentdb.Uid }/delete`) Delete